html, body {
  margin: 0;
  padding: 0;
  font-family: "Recursive";
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  display: block;
}

main {
  height: 100vh;
  mix-blend-mode: difference;
}
video {
  opacity: 0;
}
.box {position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 120%;
  font-size: 13vw;
  mix-blend-mode: difference;
  color: white;
}
.variable {
  mix-blend-mode: difference;
  color: white;
  font-size: 21vw;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.sliders {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}
label {
  display: block;
  font-size: 1em;
}