html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  touch-action: none;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
}
h1 {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  pointer-events: none;
  z-index: 10;
  font-family: system-ui;
  font-weight: 300;
  font-size: 1em;
}
