html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
canvas {
  display: block;
  /* width: 100% !important;
  height: auto !important; */
}

#canvas-container {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  gap: 50px;
}

#framerate {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  color: black;
}
